body{
    background-image: url('../Imgs/fondoGrande.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}

.tabla{
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 75%;
    text-align: center;
}

.wrapper-terminar{
    height: 100vh;
}

.fila{
    font-size: 2rem;
}

.produc-tabla{
    height: 8rem;
    width: 8rem;
    background: black;
    display: flex;
    justify-content: center;
    background-image: url("Imgs/pistachos.png");
    background-size: cover;
    background-position: center;
}

.celda-imagen{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

@media (max-width: 1900px){
    .wrapper-terminar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
    }
    
    .resultados{
        font-size: 3rem;
        text-decoration: underline;
    }

    .Btn-resultado{
        margin-top: 2rem;
    }
    
    .wrapper-terminar h4{
        font-size: 3rem;
    }

    .barra-puntuacion{
        width: 50%;
        height: 2rem;
        margin-top: 2rem;
        background: black;
        border-radius: 4px;
    }

    .barra-puntuacion1{
        height: 2rem;
        border-radius: 4px;
        background: orange;
    }
    
    }

    @media (max-width: 1600px){
        .wrapper-terminar{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 0rem;
        }
        
        .resultados{
            font-size: 2.5rem;
            text-decoration: underline;
        }
        
        .wrapper-terminar h4{
            font-size: 2.5rem;
        }
    
        .barra-puntuacion{
            width: 50%;
            height: 2rem;
            margin-top: 2rem;
            background: black;
            border-radius: 4px;
        }

        .barra-puntuacion1{
            height: 2rem;
            border-radius: 4px;
            background: orange;
        }

        .tabla{
            font-size: 2rem;
            width: 90%;
            border-spacing: 1rem;
        }

        .produc-tabla{
            height: 13rem;
            width: 13rem;
        }

        .fila{
            font-size: 2.7rem;

        }
        }
    
@media (max-width: 900px) and (orientation: landscape){
        .wrapper-terminar{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 0.5rem;
        }
        
        .resultados{
            font-size: 1.5rem;
            text-decoration: underline;
            margin-top: 0;
        }
        
        .wrapper-terminar h4{
            font-size: 1.5rem;
        }

        .barra-puntuacion{
            width: 50%;
            height: 2rem;
            margin-top: 1rem;
            background: black;
            border-radius: 4px;
        }

        .barra-puntuacion1{
            height: 2rem;
            border-radius: 4px;
            background: orange;
        }

        .tabla{
            font-size: 1.5rem;
            width: 90%;
            border-spacing: 0rem;
            justify-content: center;
        }

        .fila{
            font-size: 1.5rem;
        }

        .fila th{
            padding: 0 0.5rem;
        }

        .nav-bar{
            margin-top: 0;
        }

        .produc-tabla{
            height: 9rem;
            width: 9rem;
        }
    }
@media (max-width: 1024px) and (orientation: portrait){
    .wrapper-terminar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0rem;
    }
    
    .resultados{
        font-size: 1.5rem;
        text-decoration: underline;
        margin-top: 2.8rem;
    }
    
    .wrapper-terminar h4{
        font-size: 1.7rem;
    }

    .barra-puntuacion{
        width: 70%;
        height: 2rem;
        margin-top: 2rem;
        background: black;
        border-radius: 4px;
    }

    .barra-puntuacion1{
        height: 2rem;
        border-radius: 4px;
        background: orange;
    }

    .tabla{
        font-size: 1.2rem;
        width: 90%;
        border-spacing: 0rem;
        justify-content: center;

    }

    .fila{
        font-size: 1rem;
    }

    .produc-tabla{
        width: 6rem;
        height: 6rem;
    }

    .celda-imagen{
        padding-left: 0;
        padding-right: 0.5rem;
        padding-top: 1rem;
    }

    .nav-bar{
        margin-top: 0;
        position: absolute;
    }
    }