@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}

@media (max-width: 1900px){
.wrapper-terminar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55vh;
}

.resultados{
    font-size: 3rem;
    text-decoration: underline;
}

.wrapper-terminar h4{
    font-size: 3rem;
}

.barra-puntuacion{
    width: 50%;
    height: 2rem;
    margin-top: 2rem;
    background: black;
    border-radius: 4px;
}
.barra-puntuacion1{
    height: 2rem;
    border-radius: 4px;
    background: orange;
}
}

@media (max-width: 1367px) and (orientation: landscape){
    .wrapper-terminar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 55vh;
    }
    
    .resultados{
        font-size: 1rem;
        text-decoration: underline;
    }
    
    .wrapper-terminar h4{
        font-size: 1rem;
    }

    .barra-puntuacion{
        width: 50%;
        height: 2rem;
        margin-top: 2rem;
        background: black;
        border-radius: 4px;
    }

    .barra-puntuacion1{
        height: 2rem;
        border-radius: 4px;
        background: orange;
    }
}
